body {
    font-family: arial, sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.Wt-auth-logged-in-left {
    text-align: left;
    float:left;
}

.Wt-auth-logged-in-right {
    text-align: right;
    float:right;
}

.Wt-auth-logged-in-center {
    text-align: center;
}

.Wt-auth-icon {
    cursor: pointer;
    cursor: hand;
    padding-left: 4px;
    padding-right: 4px;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

/*
 * Override some bootstrap styles.
 */

/*
 * Do not show informational help, only errors.
 */
.form-horizontal .help-inline > span {
    display: none;
}

.control-group.error .help-inline > span {
    display: inline-block;
}

.control-group.success .control-label,
.control-group.success .help-inline {
    color: inherit;
}

/*
 * Do not constrain dialog maximum height
 */
.modal-body {
    max-height: none;
}

/*
 * Default width of .modal is too narrow to accomodate
 * div.Wt-auth-registration of width 600px.
 */
.modal {
    width: auto;
}
